@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0; }

.card p {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px; }

.header {
  background-color: beige;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__img {
    margin-left: 1rem; }
  .header__ul {
    display: flex;
    list-style: none; }
    .header__ul li {
      padding: 1rem; }
    .header__ul--active {
      font-weight: bold; }

.card {
  background-color: yellow;
  margin: 1rem;
  border-radius: 15px;
  width: 60vw;
  padding: 2rem; }
  .card:hover {
    background-color: #ffff33; }
  .card button {
    padding: 1rem;
    background-color: darkblue;
    color: aliceblue; }

@media (max-width: 650px) {
  .card {
    width: 30vw;
    margin: 1rem auto; } }
